<!DOCTYPE html>
<html lang="pt-BR">
    <head id='head'>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="author" content="Samuel Schlemper">
        <meta name="description" content="Engine Simples">
        <meta name="keywords" content="criador, jogos, simples, educativo, engine">
        <meta http-equiv="content-language" content="pt-br">
        <meta http-equiv="content-type" content="text/html; charset=UTF-8">
        <meta name="rating" content="general">
        <title>Engine Simples</title>
        <link href="https://fonts.googleapis.com/css2?family=Marhey&family=Montserrat&family=Noto+Serif+Georgian&family=Pacifico&family=Roboto&display=swap" rel="stylesheet">
        <link href="/Home.css" rel="stylesheet" type="text/css">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.1.3/dist/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
        <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.3/dist/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.1.3/dist/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
        <link rel="shortcut icon" href="#">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.2/font/bootstrap-icons.css">
    </head>
    <body>
        <header>
            <% if(message == 'error') { %>
                <script>
                    alert('Erro, tente novamente mais tarde')
                </script>
            <% } else if(message == 'não encontrado') { %>
                <script>
                    alert('Erro, verifique se o link está correto')
                </script>
            <% } %>
            <% if(login == '') { %>
                <a href="/login"><button id="login">Login</button></a>
                <a href="/cadastro"><button id="cadastro">Criar conta</button></a>
                <script>
                    var data = {email: localStorage.getItem('email'),
                                password: localStorage.getItem('senha')
                            }
                    
                    if(data.email == null || data.password == null){

                    } else {
                        $.ajax({
                            type: "POST",
                            url: '/login_efetuado',
                            data: data,
                            success: (data) => {
                                $('body').html(data)
                            }
                        })
                    }
                </script>
            <% } else { %>
                <div id="mailUI" onclick="abrir()">
                    <label id='userMail'><%= login %></label>
                </div>

                <% if(creatNow) { %>
                    <% var creatNowEjs= creatNow %>
                    <% var emailEjs= email %>
                    <% var senhaEjs= senha %>
                <% } %>

                <script>
                    var creatNow = '<%= creatNow %>'
                    localStorage.setItem('username', '<%= login %>')

                    if(creatNow == 'true') {
                        var email = '<%= emailEjs %>'
                        var senha = '<%= senhaEjs %>'
                        localStorage.setItem('email', email)
                        localStorage.setItem('senha', senha)
                    }
                </script>
            <% } %>
            <% if(games != false){%>
                <script>
                    var games = '<%= games%>'
                    var titulos = '<%= titles%>'
                    localStorage.setItem('games', games)
                    localStorage.setItem('titles', titulos)
                </script>
            <%}%>
            <% if(temporaly_games != null) { %>
                <script>
                    var tempo_game = '<%= temporaly_games%>'
                    tempo_game = JSON.parse(tempo_game.split('&#34;').join('"'))
                    tempo_game.imagens = []
                    tempo_game.perguntas_imagens = []
                    localStorage.setItem('temporaly_game', JSON.stringify(tempo_game))
                </script>
            <% } else { %>
                <script>
                    localStorage.removeItem('temporaly_game')
                    history.pushState({}, null, '/')
                </script>
            <% } %>
            <% if(recarregar) {%>
                <script>
                    history.pushState({}, null, '/')
                    document.location.reload()
                </script>
            <% } %>
        </header>
        <main>
            <div id='introducao'>
                <h1>Bem Vindo!</h1>
                <p>Aqui você podera fazer um jogo simples (limite de 17mb por jogo) onde podes usar em qualquer site seu, e isso de graça!</p>
            </div>
            <br>
            <div id='jogo'>
                <div id='tela'>

                </div>

                <input type="text" id="titulo" placeholder="Nome do jogo" maxlength="60" onkeyup="escrito()">

                <div id="caixa_seletor_cores">
                    <select id="select_palette">
                        <option>Padrão</option>
                        <option>Futurista</option>
                        <option>Infantil</option>
                    </select>
                    <button class="bt-jogo" onclick="mudar_cor()">Mudar Paleta de cor</button>
                </div>

                <div id="fonte">
                    <select id="select_fonte">
                        <option id="marhey">Marhey</option>
                        <option id="pacifico">Pacifico</option>
                        <option id="georgian">Noto Serif Georgian</option>
                        <option id="montserrat">Montserrat</option>
                        <option id="roboto">Roboto</option>
                        <option id="arial">Arial</option>
                    </select>
                    <button class="bt-jogo" onclick="mudar_fonte()">Mudar fonte</button>
                </div>
            </div>
            <div id='tela_inicial'>
                <div id='perguntas'>
                    <p>
                        Clique para adicionar uma nova questão 
                        <button class="bt-gr" id='nova_questao' onclick="adicionar_questao()">Nova Questão</button> 
                        <button class="bt-rd" id='remover_questao' onclick="remover_questao()">Deletar última Questão</button>
                    </p>
                        <div id='questao_completa_1'>
                            <p>
                                &nbsp&nbsp&nbsp&nbspQuestão 1: Clique para adicionar uma nova resposta a essa questão (minimo de 2 e maximo de 8) 
                                <button class="bt-gr" id='nova_resposta' onclick="adicionar_resposta(1)">Nova Resposta</button> 
                                <button class="bt-rd" id='deletar_resposta' onclick="deletar_resposta(1)">Deletar última resposta</button>
                            </p>
                                <div id='questao_1'>
                                    &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp<input id='questao_1_resposta_1' type="text" placeholder="A pergunta" maxlength="120">
                                    <div id='input_1_questao_1'> &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp<input id='questao_1_resposta_2' type="text" placeholder="A resposta certa" maxlength="90"> <i class="bi bi-aspect-ratio icons" data-toggle="tooltip" data-html="true" data-placement="right" title="Adicionar imagem em vez de texto"></i><input class="answers" type="file" accept="image/*, video/*" /> </div>
                                    <div id='input_2_questao_1'> &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp<input id='questao_1_resposta_3' type="text" placeholder="Uma das respostas erradas" maxlength="90"> <i class="bi bi-aspect-ratio icons" data-toggle="tooltip" data-html="true" data-placement="right" title="Adicionar imagem em vez de texto"></i><input class="answers" type="file" accept="image/*, video/*" /> </div>
                                </div>
                                <p>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbspOpcional: </p>
                                <label class="file" tabindex="0">
                                    <input id="0" class="input" type="file" accept="image/*, video/*">
                                    <span> Escolha uma imagem ou vídeo </span>
                                </label>
                        </div>
                    <br>
                </div>
                    <br>
                    <button id="criar_jogo" onclick="criar_jogo()">Criar jogo!</button>
                    <% if(temporaly_games != null) { %>
                        <button id="salvar_jogo" onclick="salvar_jogo()">Atualize o jogo</button>
                        <button id="cancelar_mudaca"><a href="/">Cancele mudança</a></button>  
                    <% } else { %>
                        <button id="salvar_jogo" onclick="salvar_jogo()">Salve seu jogo</button>
                    <% } %>
            </div>
        </main>
        <footer><a href="https://samuel-schlemper-schlemuel.github.io/Curriculo/Principal.html">By Samuel Schlemper</a></footer> 
        <script src="/Home_creat_game.js"></script>
        <script src="/Home_UI.js"></script>
    </body>
</html>