<!DOCTYPE html>
<html lang="pt-BR">
    <head id='head'>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="author" content="Samuel Schlemper">
        <meta name="description" content="Engine Simples">
        <meta name="keywords" content="criador, jogos, simples, educativo, engine">
        <meta http-equiv="content-language" content="pt-br">
        <meta http-equiv="content-type" content="text/html; charset=UTF-8">
        <meta name="rating" content="general">
        <title>Engine Simples</title>
        <link href="https://fonts.googleapis.com/css2?family=Marhey&family=Montserrat&family=Noto+Serif+Georgian&family=Pacifico&family=Roboto&display=swap" rel="stylesheet">
        <link href="/Home.css" rel="stylesheet" type="text/css">
        <script
        src="https://code.jquery.com/jquery-3.2.1.min.js"
        integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
        crossorigin="anonymous">
        </script>
    </head>
    <body>
        <header>
            <p>By Samuel Schlemper</p> 
            <% if(message == 'error') { %>
                <script>
                    alert('Erro, tente novamente mais tarde')
                </script>
            <% } else if(message == 'não encontrado') { %>
                <script>
                    alert('Erro, verifique se o link está correto')
                </script>
            <% } %>
            <% if(login == '') { %>
                <button id="login"><a href="/login">Login</a></button> 
                <button id="cadastro"><a href="/cadastro">Criar conta</a></button>
                <script>
                    var data = {email: localStorage.getItem('email'),
                                password: localStorage.getItem('senha')
                            }
                    
                    if(data.email == null || data.password == null){

                    } else {
                        $.ajax({
                            type: "POST",
                            url: '/login_efetuado',
                            data: data,
                            success: (data) => {
                                $('body').html(data)
                            }
                        })
                    }
                </script>
            <% } else { %>
                <div id="mailUI" onclick="abrir()">
                    <label id='userMail'><%= login %></label>
                </div>

                <% if(creatNow) { %>
                    <% var creatNowEjs= creatNow %>
                    <% var emailEjs= email %>
                    <% var senhaEjs= senha %>
                <% } %>

                <script>
                    var creatNow = '<%= creatNow %>'
                    localStorage.setItem('username', '<%= login %>')

                    if(creatNow == 'true') {
                        var email = '<%= emailEjs %>'
                        var senha = '<%= senhaEjs %>'
                        localStorage.setItem('email', email)
                        localStorage.setItem('senha', senha)
                    }
                </script>
            <% } %>
            <% if(games != false){%>
                <script>
                    var games = '<%= games%>'
                    localStorage.setItem('games', games)
                </script>
            <%}%>
            <% if(temporaly_games != null) { %>
                <script>
                    localStorage.setItem('temporaly_game', '<%= temporaly_games%>')
                </script>
            <% } else { %>
                <script>
                    localStorage.removeItem('temporaly_game')
                    history.pushState({}, null, '/')
                </script>
            <% } %>
            <% if(recarregar) {%>
                <script>
                    history.pushState({}, null, '/')
                    document.location.reload()
                </script>
            <% } %>
        </header>
        <main>
            <div id='introducao'>
                <h1>Bem Vindo!</h1>
                <p>Aqui você podera fazer um jogo simples onde podes usar em qualquer site seu, e isso de graça!</p>
            </div>
            <br>
            <div id='jogo'>
                <div id='tela'>

                </div>

                <div id="caixa_seletor_cores">
                    <p>Escolha a cor de fundo para o jogo: </p>
                    <input id="seletor_cores_fundo" type="color" value="#7a7ae6"/>    
                    <button class="botao_cores" onclick="mudar_cor_fundo()"> Adicionar cor </button>
                    <p>Escolha a de acerto do jogo: </p>
                    <input id="seletor_cores_acerto" type="color" value="#008000"/>    
                    <button class="botao_cores" onclick="mudar_cor_acerto()"> Adicionar cor </button>
                    <p>Escolha a cor de erro do jogo: </p>
                    <input id="seletor_cores_erro" type="color" value="#ff0000"/>    
                    <button class="botao_cores" onclick="mudar_cor_erro()"> Adicionar cor </button>
                </div>

                <div id="fonte">
                    <select id="select_fonte">
                        <option id="marhey">Marhey</option>
                        <option id="pacifico">Pacifico</option>
                        <option id="georgian">Noto Serif Georgian</option>
                        <option id="montserrat">Montserrat</option>
                        <option id="roboto">Roboto</option>
                        <option id="arial">Arial</option>
                    </select>
                    <button onclick="mudar_fonte()">Mudar fonte</button>
                </div>
            </div>
            <div id='tela_inicial'>
                <div id='perguntas'>
                    <p>
                        Clique para adicionar uma nova questão 
                        <button id='nova_questao' onclick="adicionar_questao()">Nova Questão</button> 
                        <button id='remover_questao' onclick="remover_questao()">Deletar última Questão</button>
                    </p>
                        <div id='questao_completa_1'>
                            <p>
                                &nbsp&nbsp&nbsp&nbspQuestão 1: Clique para adicionar uma nova resposta a essa questão (minimo de 2 e maximo de 8) 
                                <button id='nova_resposta' onclick="adicionar_resposta(1)">Nova Resposta</button> 
                                <button id='deletar_resposta' onclick="deletar_resposta(1)">Deletar última resposta</button>
                            </p>
                                <div id='questao_1'>
                                    &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp<input id='questao_1_resposta_1' type="text" placeholder="A pergunta" maxlength="60">
                                    <div id='input_1_questao_1'> &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp<input id='questao_1_resposta_2' type="text" placeholder="A resposta certa" maxlength="40"> </div>
                                    <div id='input_2_questao_1'> &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp<input id='questao_1_resposta_3' type="text" placeholder="Uma das respostas erradas" maxlength="40"> </div>
                                </div>
                        </div>
                    <br>
                </div>
                    <br>
                    <button id="criar_jogo" onclick="criar_jogo()">Criar jogo!</button>
                    <% if(temporaly_games != null) { %>
                        <button id="salva_jogo" onclick="salvar_jogo()">Atualize o jogo</button>
                        <button id="cancelar_mudaca"><a href="/">Cancele mudança</a></button>  
                    <% } else { %>
                        <button id="salva_jogo" onclick="salvar_jogo()">Salve seu jogo</button>
                    <% } %>
            </div>
        </main>
        <script src="/Home_creat_game.js"></script>
        <script src="/Home_UI.js"></script>
    </body>
</html>